html, body {
  overflow-x: hidden;
  height: auto;
  margin: 0px;
}
.navbar {
  position: relative;
  z-index: 10000;
}

/* Navbar Background */
.navbar.bg-white {
  background-color: #FFFFFF !important; /* White background */
  border-bottom: 2px solid #01295F; /* Blue border */
}

/* Navbar Logo */
#nav-logo {
  filter: invert(34%) sepia(29%) saturate(748%) hue-rotate(174deg) brightness(93%) contrast(89%);
}

/* Navbar Links */
.navbar .nav-link {
  color: #01295F !important; /* Blue text */
}

.navbar .nav-link:hover {
  color: #FAB515 !important; /* Gold text on hover */
}

/* Dropdown Menu */
.dropdown-menu {
  z-index: 10000; /* Increase this value */
}

.dropdown-item {
  color: #FAB515; /* Gold text */
}

.dropdown-item:hover {
  color: #17DB4E; /* Green text on hover */
}

/* Additional Styling */
.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.nav-item .bi {
  color: #01295F; /* Blue icons */
}

/* Align Dropdown Items Vertically */
.navbar-nav .nav-item.dropdown {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item.dropdown .nav-link {
  display: flex;
  align-items: center;
}

/* Adjust Dropdown Menu Position */
.navbar-nav .nav-item.dropdown .dropdown-menu {
  top: 100%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#contractsDropdown {
  z-index: 1001 !important;
}

.card {
  z-index: -100 !important;
}

/* Contact Us Section */
#contact-us {
  background: url('../media//backgrounds/background-image12.webp') center/cover no-repeat;
  color: #fff;
  padding: 100px 0;
  height: calc(600px + 10vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-us .container {
  text-align: center;
}

#contact-us .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#contact-us .display-1 {
  font-weight: bold;
}

#contact-us .btn {
  font-size: 1rem;
}

#contact-us h2 {
  color: #2B59C3; /* Blue */
}

#contact-us p {
  line-height: 1.6;
}

#contact-us h2 i.bi {
  margin-right: 10px;
  font-size: 1.2em;
}

#contact-us .we-are,
#contact-us .stronger-together {
  -webkit-text-stroke: 1px #F7F7F7;  /* Text border */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);  /* Text shadow */
}

#contact-us .we-are {
  color: #2B59C3;
}

#contact-us .stronger-together {
  color: #82D310;
}


/* General Card Styling */
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 100%;
}

/* Hover Effect for Cards */
.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Card Title and Text Styling */
.card-title {
  color: #01295F;
  font-weight: bold;
}

.card-text {
  color: #0205D3;
  font-size: 1rem;
}

/* Flexbox for Card Layout and Row */
.row, .col-md-4, .card-body {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  flex-direction: column;
  justify-content: space-between;
}

#secondNav {
    z-index: 1  !important;
}
#firstNav {
    z-index: 1001  !important;
}
