html, body {
  overflow-x: hidden;
  height: auto;
  margin: 0px;
}
.navbar {
  position: relative;
  z-index: 10000;
}

/* Navbar Background */
.navbar.bg-white {
  background-color: #FFFFFF !important; /* White background */
  border-bottom: 2px solid #01295F; /* Blue border */
}

/* Navbar Logo */
#nav-logo {
  filter: invert(34%) sepia(29%) saturate(748%) hue-rotate(174deg) brightness(93%) contrast(89%);
}

/* Navbar Links */
.navbar .nav-link {
  color: #01295F !important; /* Blue text */
}

.navbar .nav-link:hover {
  color: #FAB515 !important; /* Gold text on hover */
}

/* Dropdown Menu */
.dropdown-menu {
  z-index: 10000; /* Increase this value */
}

.dropdown-item {
  color: #FAB515; /* Gold text */
}

.dropdown-item:hover {
  color: #17DB4E; /* Green text on hover */
}

/* Additional Styling */
.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.nav-item .bi {
  color: #01295F; /* Blue icons */
}

/* Align Dropdown Items Vertically */
.navbar-nav .nav-item.dropdown {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item.dropdown .nav-link {
  display: flex;
  align-items: center;
}

/* Adjust Dropdown Menu Position */
.navbar-nav .nav-item.dropdown .dropdown-menu {
  top: 100%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#contractsDropdown {
  z-index: 1001 !important;
}

.introduction {

  z-index: -100 !important;
}

.hero-section {
  background: url('../media/backgrounds/background-image8.webp') center/cover no-repeat;
  color: #fff;
  padding: 100px 0;
  height: calc(100vh - 90px);
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
  justify-content: center; /* Add this line */
}

.hero-section .container {
  text-align: center; /* Add this line if needed */
}

.hero-section .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .display-1 {
  font-weight: bold;
  font-size: calc(30px + 3vw);
}

.hero-section .display-4 {
  font-size: 1.5rem;
}

.hero-section .btn {
  font-size: 1rem;
}

.navbar-nav {
  z-index: 10001;
}

/* Footer */
footer {

  background-color: #efefef; /* White background */
  border-top: 2px solid #01295F; /* Blue border */
}

footer h5 {
  color: #01295F; /* Blue text */
}

footer a {
  color: #01295F; /* Blue text */
}

footer a:hover {
  color: #FAB515; /* Gold text on hover */
}

footer p {
  color: #01295F; /* Blue text */
}

.btn-custom {
  font-size: 1rem;
  background-color: #01295F; /* Blue color from the palette */
  border: none;
  color: #FAB515; /* Gold color from the palette */
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #0205D3; /* Bright Blue color from the palette */
  color: #fff;
}

/* General Card Styling */
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 100%;
}

/* Hover Effect for Cards */
.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Card Title and Text Styling */
.card-title {
  color: #01295F;
  font-weight: bold;
}

.card-text {
  color: #0205D3;
  font-size: 1rem;
}

/* Flexbox for Card Layout and Row */
.row, .col-md-4, .card-body {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  flex-direction: column;
  justify-content: space-between;
}


/* Custom styles */
.section-style {
  font-family: 'Metropolis-Regular', sans-serif;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #333;
}

.custom-card {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.custom-address {
  font-size: 1.2rem;
}

.contact-label {
  font-weight: 600;
  color: #555;
}

.contact-info {
  color: #777;
}

.quick-link-col {
  margin-bottom: 20px;
}

.quick-link {
  font-size: 1.5rem;
  color: #555;
}


/* Default styles for all devices */
.we-are,
.stronger-together {
  -webkit-text-stroke: 1px #F7F7F7;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* iOS specific styles */
@media screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .we-are,
  .stronger-together {
    -webkit-text-stroke: 0.5px #F7F7F7;  /* Adjust stroke width */
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);  /* Adjust shadow */
  }
}


.we-are {
  color: #2B59C3;
}

.stronger-together {
  color: #82D310;
}

.learn-more-btn {
  font-size: 1.2rem;
  background-color: #2B59C3;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;

}

.learn-more-btn:hover {
  background-color: #82D310;

}

.icon-style {
  margin-right: 8px;
  vertical-align: middle;
}

section {
  transition: all 0.3s ease;
}

section:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


/* Existing styles remain the same */

/* Additional or modified styles for Quick Links section */
.quick-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Keep the text color */
}

.quick-link:hover {
  color: inherit; /* Keep the text color on hover */
  text-decoration: none; /* Remove underline on hover */
}

.bi-link-45deg {
  margin-right: 8px; /* Add some space between the icon and the text */
}

/* Icon above Driving Directions */
.bi-sign-turn-right {
  font-size: 3rem; /* Adjust the size as needed */
  margin-bottom: 20px;
}
