html, body {
  overflow-x: hidden;
  height: auto;
}
.navbar {
  position: relative;
  z-index: 1000;
}

/* Navbar Background */
.navbar.bg-white {
  background-color: #FFFFFF !important; /* White background */
  border-bottom: 2px solid #01295F; /* Blue border */
}

/* Navbar Logo */
#nav-logo {
  filter: invert(34%) sepia(29%) saturate(748%) hue-rotate(174deg) brightness(93%) contrast(89%);
}

/* Navbar Links */
.navbar .nav-link {
  color: #01295F !important; /* Blue text */
}

.navbar .nav-link:hover {
  color: #FAB515 !important; /* Gold text on hover */
}

/* Dropdown Menu */
.dropdown-menu {
  z-index: 10000; /* Increase this value */
}

.dropdown-item {
  color: #FAB515; /* Gold text */
}

.dropdown-item:hover {
  color: #17DB4E; /* Green text on hover */
}

/* Additional Styling */
.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.nav-item .bi {
  color: #01295F; /* Blue icons */
}

/* Align Dropdown Items Vertically */
.navbar-nav .nav-item.dropdown {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item.dropdown .nav-link {
  display: flex;
  align-items: center;
}

/* Adjust Dropdown Menu Position */
.navbar-nav .nav-item.dropdown .dropdown-menu {
  top: 100%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}



.hero-section {
  background: url('../media//backgrounds/background-image7.webp') center/cover no-repeat;
  color: #fff;
  padding: 100px 0;
  height: calc(600px + 10vw);
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
  justify-content: center; /* Add this line */
}

.hero-section .container {
  text-align: center; /* Add this line if needed */
}

.hero-section .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .display-1 {
  font-weight: bold;
}

.hero-section .display-4 {
  font-size: 1.5rem;
}

.hero-section .btn {
  font-size: 1rem;
}

/* Existing CSS */
.we-are,
.stronger-together {
  -webkit-text-stroke: 1px #F7F7F7;  /* Text border */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);  /* Text shadow */
}

.we-are {
  color: #2B59C3;
}

.stronger-together {
  color: #82D310;
}

#about-pdf {
  min-height: 300px;
}

#secondNav {
    z-index: 1  !important;
}
#firstNav {
    z-index: 1001  !important;
}

#about-pdf {
  max-width: 1000px;
}
